.content:not(.custom) {
    max-width: 100%!important;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}
$sidebarWidth = 18rem
.theme-default-content:not(.custom) {
    max-width: 100%!important;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}
.page-edit, .page-nav{
  max-width: initial;
}

@import("https://cdn.bootcdn.net/ajax/libs/openlayers/4.6.5/ol.css")
