.content:not(.custom) {
    max-width: 80%!important;
    margin: 0 auto;
    padding: 2rem 2.5rem;
    margin-left:0;
}
$sidebarWidth = 18rem
.theme-default-content:not(.custom) {
    max-width: 80%!important;
    margin: 0 auto;
    padding: 2rem 2.5rem;
    margin-left:0;
}
.page-edit, .page-nav{
  max-width: initial;
}
$rightAnchorBgColor = #fff

.map{
  height:100%
}
.demo-block .demo-content {
  height:550px;
}
@import("https://zhoubichuan.com/web-openlayers/css/ol.css")
